
@font-face {
    font-family: QuickSandRegular;
    src: url(resources/fonts/Quicksand/static/Quicksand-Regular.ttf);
}


@font-face {
    font-family: Roboto-Regular;
    src: url(resources/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(resources/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Panton-Light;
    src: url(resources/fonts/Panton/Panton-LightCaps.otf);
}

@font-face {
    font-family: Panton-Light-Italic;
    src: url(resources/fonts/Panton/Panton-LightitalicCaps.otf)
}


@font-face {
    font-family: Panton-Black;
    src: url(resources/fonts/Panton/Panton-BlackCaps.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: #0045ff;
    padding: 0;
    margin: 0;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    max-width: 1920px;
    font-family: Roboto-Regular,sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 1.625;
    color: rgb(56, 56, 56);
    position: relative;
}

.main{
    max-height: 999999px;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

img.logo {
    max-height: 100px;
    width: 100%;
    position: absolute;
    z-index: 23;
    top: 1.5em;
}
.content{
    display: flex;
}

.hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.content, .description {
    width: 100%;
    background-color: white;
    padding: 1em 4em;
    flex-grow: 1;
    -webkit-box-shadow: 0px -8px 30px 10px rgba(36,36,36,0.5); 
    box-shadow: 0px -8px 30px 10px rgba(36,36,36,0.5);
}

.navigation {
    width: 100%;
    font-size: .8em;
    color: rgb(156, 155, 155);
    font-family: Panton-Light-Italic;
}

.presentation {
    display: flex;
    flex-wrap: no-wrap;
    background-color: white;
    flex-grow: 1;
}

.presentation-name {
    font-size: 2.5em;
    font-family: Panton-Light;
    margin: 0.1em 0 0.5em 0;
    font-weight: bold;
}

.presentation-image {
    max-width: 300px;
    max-height: 400px;
    border: 1px solid rgb(156, 156, 156);
}

.presentation-description,
.description-description{
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
}

.presentation-description p {
    flex-grow: 1;
}

.description-description p {
    margin-bottom: 3em;
}

.presentation-nav {
    display: flex;
    flex-wrap: nowrap;
}
.presentation-nav span {
    display: inline-block;
    background-color: #0045ff;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-family: Roboto-Medium,Roboto-Regular,sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 1.625;
    cursor: pointer;
    padding: 0.1em 2em;
    margin-right: 1em;
}

/* waves */

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
}

/* waves */



/* Description area */

.description-name{
    font-size: 1.5em;
    font-family: Panton-Light;
    flex-grow: 1;
    margin: 0.5em 0 0.25em 0;
}

.description--colorized {
    background-color: #0045ff;
    color: white;
}

.description--colorized .presentation {
    background-color: inherit;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: thin solid #0538c4;
    z-index: 99;
    border-radius: 20px;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #0045ff;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: white;
    color: rgb(44, 44, 44);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0538c4;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* footer */

.footer {
    color: white;
    background-color: #0045ff;
    font-size: 0.7em;
    padding: 3em 1em 1em 1em;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.footer .legal {
    flex-grow: 1;
}

.footer .legal ul {
    text-decoration: none;
    color: white;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em 1em;

}

.footer .legal ul li a {
    text-decoration: none;
    color: white;
}

.floating-nav{
    position: fixed;
    bottom: 10px;
    right: 0px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0.5em;
    opacity: 0;
}

.floating-nav--button {
    width: 72px;
    height: 72px;
    background-color: #001689;
    border-radius: 50%;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    margin: 0 auto;
    margin-top: 2em;
    max-width: 79%;
}